/* Füge das ganz oben in dein CSS hinzu */
* {
    box-sizing: border-box;
}

/* Und das für konsistente Darstellung */
button, input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


body {
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}
select {
    width: 200px;
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}
input {
    width: 200px;
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}
div {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color:#e9e9e9
}
#Meter {
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
}
#Begrüssung {
    text-align: center;
    font-size: 24px;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}